.vs/
bin/
obj/
*.user
*.suo

models/original/
models/cases/*.iam
models/cases/*.ipt
models/cases/*.ipj
*.zip
models/cases/**/*.iam
models/cases/**/*.ipt
models/cases/**/*.ipj
models/cases/**/OldVersions/
